{
  "rules": {
    "linebreak-style": "off",
		"no-tabs": "off",
		"no-console": "off",
		"indent": ["warn", "space"],
    "yml/no-tab-indent": "off"
  },
  "extends": [
    // "@antfu",
    "plugin:vue/vue3-recommended",
    "prettier"
  ]
}
